* {
	box-sizing: border-box;
}

.header{
	height: 35px;
	background-color: #e3e3e3;
	width: 100%;
}
.header .a_header{
	width: 1142px;
	margin:auto;
	display: flex;
	justify-content: flex-end;
	background-color: #e3e3e3;
	}
.header .a_header a{
	text-decoration: none;
	line-height: 35px;
	display: block;
	margin-left: 20px;
	margin-right: 10px;
	font-size: 13px;
	color: #868181;
	
	}
.header .a_header a i{
	padding-right: 5px;
}
.top_header{
	width: 1142px;
	height: 130px;
	margin: auto;
	display: flex;
	flex-direction: row;
	position: relative;
}
.top_header .input-size{
	width: 50%;
	height: 40px;
	margin-top: 20px;
	margin: auto;
	}
.top_header .hotline{
	text-transform: uppercase;
	color: #da1818;
	font-weight: bold;
	font-size: 16px;
	display: flex;
	align-items: center;
	margin-top: 10px;
	position: absolute;
	right: 11px;
	top: 60px;
}
.top_header .logo a{
	width: 200px;
	height: 70px;
	display: block;
	margin-top: 30px;

}
.top_header #submit_form {
    width: 25%;
    background: #b1b0b0;
    height: 40px;
    border: none;
    float: right;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
	}
.top_header #submit_form:hover{
	 background: #ea0707;
}
.top_header form #keyword {
    height: 40px;
    background: none;
    border: 1px solid #e8e8e8;
    float: right;
    width: 75%;
    padding-left: 10px;
	}
.top_header form{
    margin:5% 8%;
    width: 50%;
}
/*-------------------------*/





html {
	font-size: calc(4px + 0.45vw);
}
body {
	font-family: 'Montserrat', sans-serif;
	color: #000;
}
a {
	text-decoration: none;
	color: #000;
}
*:focus {
  outline: 0;
}
/* Primary Style
--------------------------------*/
.main {
	width: 110rem;
	margin: 0 auto;
	padding: 0 2rem;
}

.menu{
	width: 100%;
	height: 12rem;
	background-color: #7170701c;
	margin-bottom: 0;
}
 .menu header {
	line-height: 12rem;
	height: 10rem;
	max-width: 110rem;
	margin: 0 auto;
}
  .menu header h1 {
	font-size: 2.5rem;
	font-family: 'Oswald', sans-serif;
}
 .menu header ul::after {
	content: '';
	display: table;
	clear: both;
}
 .menu header li {
	float: left;
	width: 12.5%;
	text-align: center;
	text-transform: uppercase;
	box-sizing: border-box;
}
.menu  header li:nth-child(4) {
	width: 25%;
}
.menu  header ul>li>a:hover{
font-size: 1.3rem;
color: #ea0707;
box-sizing: border-box;
}
 .menu header li a {
	font-weight: 900;
	font-size: 1.2rem;
	letter-spacing: 2px;
	box-sizing: border-box;
}
.text {
	font-size: 2rem;
	padding: 2rem 0;
	-moz-columns: 3;
	-webkit-columns: 3;
	columns: 3;
}
.text p {
	margin-bottom: 2rem;
}
@media screen and (max-width: 800px) {
	 header ul li:not(:nth-child(4)) {
		display: none;
	}
	 header ul li:nth-child(4) {
		width: 100%;
	}
}
/* Slider Style
--------------------------------------*/
.cd-slider {
	position: relative;
	width: 100%;
	height: 50rem;
	overflow: hidden;
	margin-bottom: 8rem;
}
.cd-slider li {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	-webkit-transition: visibility 0s 1s;
	transition: visibility 0s 1s;
  will-change: visibility;
}
.image {
	position: absolute;
	top: 0;
	left: 0;
	width: 70%;
	height: 100%;
	background-size: cover;
	background-position: 50% 50%;
	clip: rect(0, 80rem, 50rem, 80rem);
	-webkit-transition: clip .5s cubic-bezier(0.99, 0.01, 0.45, 0.9) .5s;
	transition: clip .5s cubic-bezier(0.99, 0.01, 0.45, 0.9) .5s;
  will-change: clip;
}
.content {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	padding: 2rem 0 0 2rem;
	font-size: 9rem;
	text-align: right;
}
.content h2 {
	text-overflow: ellipsis;
	overflow: hidden;
	-webkit-transform: translateY(-30%);
	        transform: translateY(-30%);
	opacity: 0;
	-webkit-transition: opacity .5s, -webkit-transform .5s;
	transition: opacity .5s, -webkit-transform .5s;
	transition: transform .5s, opacity .5s;
	transition: transform .5s, opacity .5s, -webkit-transform .5s;
  will-change: transform, opacity;
}
.content a {
	display: inline-block;
	font-size: 2rem;
	text-transform: lowercase;
	padding: 1.5rem;
	opacity: 0;
	-webkit-transform: translateY(-100%);
	        transform: translateY(-100%);
	-webkit-transition: opacity .5s .1s, -webkit-transform .5s .1s;
	transition: opacity .5s .1s, -webkit-transform .5s .1s;
	transition: transform .5s .1s, opacity .5s .1s;
	transition: transform .5s .1s, opacity .5s .1s, -webkit-transform .5s .1s;
  will-change: transform, opacity;
}
.cd-slider .content a:hover{
	color: red;
}
/* Current Slide 
-------------------------------------*/
li.current {
	visibility: visible;
	-webkit-transition-delay: 0s;
	        transition-delay: 0s;
}
li.current .image {
	clip: rect(0, 80rem, 50rem, 0);
}
li.current .content h2 {
	-webkit-transform: translateY(0);
	        transform: translateY(0);
	opacity: 1;
	-webkit-transition-delay: 1s;
	        transition-delay: 1s;
}
li.current .content a {
	-webkit-transform: translateY(0);
	        transform: translateY(0);
	opacity: 1;
	-webkit-transition-delay: 1.1s;
	        transition-delay: 1.1s;
}
/* Prev Slide 
------------------------------------*/
li.prev_slide .image {
	clip: rect(0, 0, 50rem, 0);
}
nav {
	position: absolute;
	bottom: 0;
	right: 0;
	background: #fff;
	z-index: 2;
}
.prev, .next, .counter {
	vertical-align: middle;
}
.prev, .next {
	position: relative;
	display: inline-block;
	height: 5rem;
	width: 5rem;
  border: 0;
  cursor: pointer;
  background: transparent;
}
.prev::before, .next::before {
	content: '';
	position: absolute;
	top: 50%;
  left: 0;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
	border: .8rem solid transparent;
	border-right-width: 1rem;
	border-right-color: #000;
	border-left-width: 0;
	width: 0;
	height: 0;
}
.prev::after, .next::after {
	content: '';
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%) translateZ(0);
	        transform: translateY(-50%) translateZ(0);
	left: .5rem;
	background: #000;
	height: .1rem;
	min-height: 1px;
	width: 2.5rem;
	-webkit-transition: width .3s;
	transition: width .3s;
}
.next::before {
	right: 0;
  left: auto;
	border-left-width: 1rem;
	border-left-color: #000;
	border-right-width: 0;
}
.next::after {
	right: .5rem;
	left: auto;
}
.counter {
	display: inline-block;
	font-size: 4rem;
	font-family: serif;
	font-style: italic;
}
.counter span:last-child::before {
	content: '/';
	margin: 0 1rem;
}
.prev:hover::after, .next:hover::after {
	width: 3.5rem;
}


/*---------------------*/
.commit{
	max-width: 106rem;
	margin: auto;
	border-top: 1px solid gray;
	
}


.commit .commit_title{
	width: 500px;
	height: 50px;
	margin: auto;	
	display: flex;
	flex-wrap: wrap;
	position: relative;
	top: -25px;
}
.commit .commit_title .square{
	width: 36px;
	height: 36px;
	background:#efecec;
	transform: rotate(45deg);
	line-height: 50px;
	margin-top: 7px;
	display: block;
}
.commit .commit_title .square1{
	position: relative;
	left: 18px;
}
.commit .commit_title .square2{
	position: relative;
	right: 19px;
}
.commit .commit_title h2{
	color: white;
	line-height: 50px;
	text-align: center;
	background-color: #847e7e;
	font-size: 25px;
	text-transform: uppercase;
	font-family: 'Oswald',sans-serif;
	min-width: 380px;
	margin-top: 0px;
}

.commit .container{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.commit .container .card_box{
	width: 31%;
	height: 110px;
	border: 2px solid gray;
	box-shadow: -10px -10px 5px -5px #888888;	
	margin-bottom: 20px;
	margin-top: 20px;
}
.commit .container .card_box .card_left{
	width: 30%;
	height: 110px;
	float: left;
}
.commit .container .card_box .card_left img{
	margin-top: 35px;
    margin-left: 20px;
}
.commit .container .card_box .card_right{
	width: 70%;
	height: 110px;
	float: left;
}
.commit .container .card_box .card_right h5{
	text-transform: uppercase;
	font-size: 20px;
	color: #797676;
	width: 100%;
	height: 30px;
	font-weight: bold;
	margin-top: 20px;
}
.commit .container .card_box .card_right p{
	font-size: 14px;
	color: #797676;
	line-height: 21px;
	font-family:'Source Sans Pro', sans-serif;
	font-weight: 400;
}
.commit{
	margin-top: 100px;	
	margin-bottom: 20px;
}
/*sản phẩm mới*/
.commit .menu_commit{
	width: 100%;

}
.commit .menu_commit ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.commit .menu_commit ul li{
	
	margin-top: 20px;
	
}
.commit .menu_commit ul li a{
	padding: 10px 20px;
	
	text-transform: uppercase;
	text-decoration: none;
	font-size: 15px;
	border: 2px solid gray;
	color: #4a4949;	
}
.commit .menu_commit ul li a:hover{
	border: 2px solid blue;
	color: red;	
}
.commit .commit_product{
	width: 100%;
	margin-top: 40px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	border: 1px solid #bbbbbb;

}
.commit .commit_product .product{
	width: 22%;
	height: 330px;
	border: 1px solid #bbbbbb;
	overflow: hidden;
	margin-top: 20px;
}
.commit .commit_product .product img{
	width: 100%;
	height: 200px;
	margin-top: 40px;
	transition: transform 2s;
}
.commit .commit_product .product img:hover{
	transform: scale(1.2);
}
.commit .commit_product .product h2,
.commit .commit_product .product h3{
	width: 100%;
	text-transform: uppercase;
	text-align: center;
}
.commit .commit_product .product h2{
	margin-top: 30px;
	color: #544848;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 18px;
}
.commit .commit_product .product h3{
	margin-top: 15px;
	font-weight: bold;
	font-size: 16px;
	color: #ef5a5a;
}
.commit .commit_product .continue{
	width: 80%;
	margin-top: 50px;
	text-align: center;
	margin-bottom: 30px; 

}
.commit .commit_product .continue h4{
	font-family:  'Source Sans Pro', sans-serif;
	font-size: 20px;
	font-weight: 200px;
	text-transform: uppercase;

}
.commit .commit_product .continue h4 i{
	font-size: 22px;
	margin-left: 20px;
	color: gray;
	font-weight: bold;
}
/*----------*/
.img_baner{
	max-width: 106rem;
	height:220px;
	overflow: hidden; 
	margin: auto;
}
.img_baner img{
	width: 100%;
	height: 100%;
	transition: transform 2s;
}
.img_baner img:hover{
	transform: scale(1.5);
}

/*menu_brand*/

.menu_brand{
	max-width: 106rem;
	margin: auto;
	margin-top: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.menu_brand .brand_item{
	width: 49%;
	padding: 20px 20px;
	border: 1px solid #bbbbbb;;
	overflow: hidden;
	margin-top: 20px;
	
}.menu_brand .brand_item .img_brand{
	border-bottom: 1px solid #bbbbbb;
	width: 100%;
	height: auto;
	display: block;
	padding-bottom: 20px;
}
.menu_brand .brand_item .img_brand span{
	width: 100%;
	height: 270px;
	display: block;
	overflow: hidden;
	margin-bottom: 20px;
}

.menu_brand .brand_item .img_brand img{
	width: 100%;
	height: 270px;
	transition: transform 2s;
}
.menu_brand .brand_item .img_brand img:hover{
	transform: scale(1.3);
}
.menu_brand .brand_item .img_brand h2{
	text-align: center;
	text-transform: uppercase;
	font-size: 24px;
	color: #ff4747;
}
.menu_brand .brand_item .img_brand i{
	margin-right: 5px;
}
.menu_brand .brand_item ul.list_brand {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-top: 20px;
}
.menu_brand .brand_item .list_brand li{
	width: 30%;
	height: 30px;
	line-height: 30px;
}
.menu_brand .brand_item .list_brand li a{
	font-size: 20px;
	font-weight: 400;
	color: #4a4040;
	font-family:  'Source Sans Pro', sans-serif;
	text-transform: uppercase;
}
.menu_brand .brand_item .list_brand li a i{
	color: #ff4747;
	font-weight: bold;
}
.menu_brand .brand_item .list_brand >li>a:hover{
	color: #ff4747;
}
.menu_brand .brand_item:nth-child(5n){
	margin: auto;
	margin-top: 20px;
}

/*commit:nthchild(3n)*/

.commit .brand_top{
	display: flex;
	margin-top: 20px;
	justify-content: space-around;

}
/*.footer */
.footer .footer_sub .textInfo .ul_footer{
			list-style: none;
		}
.footer {
		width: 100%;
		height: 380px;
		background-image: url("../images/footer.jpg");
		background-size: cover;
		overflow: hidden;
	}
	.footer .footer_sub{
		width: 1142px;
		margin: auto;
		display: flex;
		flex-wrap: wrap;		
		}
	.footer .footer_sub .fBlock{
		display: block;
		margin: 15px 24px;
		width: 300px;
		height: 100px;		
		}
	.footer .footer_sub .textInfo{
		width: 300px;
		height: 300px;
		margin: 60px 72px;		
		}
	.footer .footer_sub .textInfo .ul_footer a {
		text-decoration: none;
		color: gray;
		font-size: 14px;
		cursor: pointer;
		padding-bottom: 10px; 
		line-height: 20px;
		display: block;
		}
	.footer .footer_sub  .stype_footer_sub{
		margin-bottom: 20px;
		font-size: 20px;
		font-weight: bold;
		color: #463939;
		}
	.footer .footer_sub .textInfo .ul_footer a:hover{
		color: #da1818;
		}
	.footer .footer_sub .info {
		width: 350px;
		font-size: 14px;
		height: 300px;
		margin-top: 60px;
		}
	.footer .footer_sub .info p{
		color: gray;
		line-height: 20px;
	}
	.footer .footer_sub .info h3{
		text-transform: uppercase;
		font-size: 25px;
		font-weight: bold;
		color: #c3bcbc;
		margin-bottom: 20px;
	}		
/*---------------------*/
@media screen and ( max-width: 550px ) {
	.image { width: 100%; }
	.content { padding-right: 2rem; }
	nav { left: 0; right: auto; }
}

/*-----------------------*/
@media (max-width: 1023px ){
{margin: 0; padding: 0;}
.header{
		height: auto;
	}
.header .a_header,
.top_header{
	width: 100%;
}


.top_header .hotline{
		right: 13px;
    	top: 78px;
	}
}

/*---------------*/
@media (max-width: 768px){

.header .a_header a:nth-child(3),
	.top_header .hotline{
		display: none;
	}
.top_header .logo a{
		margin-top: 10px;
		}

}

/*-------------------*/
@media (max-width: 576px){
	.top_header #submit_form {
    width: 30%;
	}
.top_header form #keyword {  
    width: 70%;
	}
.top_header form{
    position: relative;
    right: -29px;
    margin:7% -5%;
}
.top_header .hotline{

	    right: 4px;
	    font-size: 12px;
	    display: block;
		}
		/*-----------*/
}

/*-----------------*/
@media (max-width: 414px){
	.top_header{
		display: flex;
		flex-wrap: wrap;
		height: auto;
	}
	.top_header .hotline{
		display: none;
	}
	.top_header form{
		width: 80%;
	}
}